$avoid-background: #a00;
$avoid-text: #fff;
$warn-background: #c90;
$warn-text: #fff;
$ok-background: #282;
$ok-text: #fff;

body {
  font-size: 16pt;
  line-height: 1.25em;
  text-shadow: 1px 1px 4px #000;
}

p {
  margin: 0;
}

.social-links {
  padding: 0.5em 1em;
  position: absolute;
  right: 0;
  top: 0;

  a {
    color: #fff;
    text-decoration: none;
    opacity: 0.5;

    &:hover {
      opacity: 1.0;
    }
  }
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: tranlsate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;

  h1 {
    font-size: 4em;
  }
}

.status-avoid {
  background: $avoid-background;
  color: $avoid-text;
}

.status-warn {
  background: $warn-background;
  color: $warn-text;
}

.status-okay {
  background: $ok-background;
  color: $ok-text;
}

.last-updated {
  bottom: 0;
  font-size: 0.5em;
  padding: 0 1em;
  position: absolute;
  right: 0;
}
