!!! 5
%html
  %head
    %title Is Metreon Safe?
    %link{ rel: "stylesheet",  href: "styles/home.css" }
  %body{ :class => "status-#{event.status}" }
    = render "status_#{event.status}", event: event
